/* * .commerce {
    font-family: "Arial", sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
} */

.pics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pics-1,
.pics-2,
.pics-3 {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: black;
}
